<h1>Booking of book : <%= @booking.book.title %></h1>

<p> Booking price : <%=  @booking.price %></p>
<p> Booking content: <%= @booking.review %></p>
<p> Booking rating: <%=  @booking.rating %></p>

<%= link_to 'Back', books_path %>
