<div class="col-md-6">
    <div class="booking-card">

      <div class="booking-box">

        <div class="book-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path booking.book.picture%>')">
        </div>

        <div class="book-title-category-value">
            <div class="book-title">
                <p><%= booking.book.title %></p>
            </div>
            <div class="book-category">
               <p><%= booking.book.category %></p>
            </div>
            <div class="booking-value-paid">
              <div class="booking-value">
                <%=booking.price%>€
              </div>
               <div class="booking-paid">
                <% if booking.paid == true%>
                   <%="Paid"%>
                <% else %>
                   <%="To Pay" %>
                <% end %>
              </div>
            </div>
        </div>

        <div class="booking-details">
          <div class="booking-dates">
            <div class="booking-date-begin">
              <p>Rental Begins</p>
              <p class='booking-date'><%= booking.date_begin %></p>
            </div>
            <div class="booking-date-end">
              <p>Rental Ends</p>
              <p class='booking-date'><%= booking.date_end%></p>
            </div>
          </div>
        </div>

        <div class="booking-book-address-map" id=
            <% if booking.review == nil  %>
            <%="red"%>
            <% else %>
            <%="green" %>
            <% end %>
            >
            Book rating
            <div class="book-stars">
                <% b = Booking.where(book_id:booking.book) %>
                <% avg = b.map { |x| x["rating"].to_f}.reduce(:+) / b.size %>
                <% diff = avg - avg.to_i %>
                <% avg.to_i.times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                <% if diff > 0 %>
                  <i class="fas fa-star-half"></i>
                <% end %>
                <% (5-avg.round()).times do %>
                  <i class="far fa-star"></i>
                <% end %>
            </div>

            <% if (booking.rating != 0) %>
                <%= "Your rating" %>
                <div class="stars">
                    <% booking.rating.to_i.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    <% (5 - booking.rating.to_i).times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                </div>
            <% end %>


            <div class="review-button">
                  <% if booking.review == nil %>
                      <div class="booking-box-status" id="red-color">
                      <%= link_to 'To Review', edit_book_booking_path(booking.book_id, booking) %>
                  <% else %>
                      <div class="booking-box-status" id="green-color">
                      <%= link_to 'Edit Review', edit_book_booking_path(booking.book_id, booking) %>
                  <% end %>
                </div>
            </div>
            <% if booking.paid = false %>
            <div class="pay-button">
              Pay
            </div>
            <% end %>
        </div>
      </div>
      <div class="book-details-box">
        <div class="book-summary">
          <%= booking.book.summary %>
        </div>
        <div class="book-user">
          <p>Owner</p>
          <p><%= cl_image_tag booking.book.user.picture, height: 60 ,class: "avatar" %></p>
          <p><%= booking.book.user.name %></p>
        </div>
      </div>
</div>
</div>
