<%= simple_form_for [@book, @booking] do |f| %>
<div class="book-booking-form">
  <%= render partial: 'shared/form_errors', locals: { model: @booking } %>
  <p>
    <%= f.input :date_begin, as: :string, id:"booking_date_begin", class:"flatpickr-input"  %>
  </p>
  <p>
    <%= f.input :date_end, as: :string, id:"booking_date_end", class:"flatpickr-input" %>
  </p>
</div>

  <div class="price_tag">
   <p>price/day (euros): <%=  @booking.price %></p>
  </div>

<%#= f.input :photo %>
<%#= f.input :photo_cache, as: :hidden %>

    <div class="book-booking-box">
      <%= f.submit "Book it!",class: "btn btn-danger" %>
    </div>

<% end %>

<!-- f.button :submit_cancel, 'Save', :cancel=>orders_path -->





