<div class="content">
  <div class="cards-container container">
    <div class="row">
      <div class="title-container">

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="index-title">
          <!-- <p<span align="center">All of our <%=@books.length %> super amazing books and </span><span> <input type="text" name="query" id="query" placeholder="in the mood for..."> </span> <span><input type=”submit” value=Search class="btn btn-primary"></span></p> -->
            <p>All of our <%=@books.length %> super amazing books</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-8">
          <div class="query-box">
            <i class="fa fa-search"></i>
            <%= form_tag books_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Find a book"
              %>
            <% end %>

          </div>
        </div>
      </div>
  </div>
   <div class="row">

    <%# if query = " " %>

      <% @books.each do |book| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url('<%= cl_image_path book.picture %> ');">
            <div class="card-category"><%= book.category %></div>
            <div class="card-description">
            <h2 ><%= book.title %></h2>
             <p> <%= book.price %>€/day</p>
            </div>
            <img class="card-user" src="<%= cl_image_path book.user.picture%>">
            <%= link_to 'Show book', book, class: "card-link" %>
          </div>
        </div>
      <% end  %>

      <%# else %>
      <%# @results.each do |book| %>
        <!-- place same than above -->
  </div>

</div>

<div id="map" style="width: 100%;  height: 600px;" data-markers="<%= @markers.to_json %>">
</div>

