<div class="wrapper">
  <div class="containe-flow">
    <div class="row">
      <div class="book-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @book.picture%>')">
      </div>
    </div>
  </div>
  <div class="book-container container">

        <div class="book-details-container">
          <div class="row">
            <div class="book-box">

              <div class="book-details">
                <div class="book-details-top-section">
                    <div class="book-details-title">
                      <h1><%= @book.title %></h1>
                    </div>
                    <div class="book-category-price">
                      <div class="book-details-category">
                        <h3><%= @book.category %></h3>
                      </div>
                      <div class="book-details-price">
                        <%= @book.price %>
                      </div>
                    </div>

                    <div class="book-details-rating">

                    </div>
                </div>
                <div class="book-details-bottom-section">
                  <div class="book-details-summary">
                    <p><%= @book.summary %></p>
                  </div>
                </div>
              </div>
              <div class="book-owner-title">
                <p>Book Owner</p>
              </div>
              <div class="book-owner">
                <div class="owner-avatar-box">
                  <%= cl_image_tag @book.user.picture, class: "owner-avatar", height: 60, width: 60, crop: :fill%>
                  <div class="owner-name">
                      <p><%= @book.user.name %></p>
                  </div>
                </div>
                <div class="book-owner-details">
                    <div class="owner-bio">
                      <p><%= @book.user.owner_bio %></p>
                    </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      <div class="book-booking">
          <%= render 'formdate', booking: @booking %>
      </div>

  </div>

</div>

